*{
    margin: 0;
    padding: 0;
}
$green: green;
$padding1: 1em;
$padding2: 2em;
$margin1: $padding1;

body{
    color:  $green;
}

form{ //330 - 16px van de padding = 314px over
    box-sizing: border-box;
    border: 1px solid;
    width: 330px;
    box-sizing: border-box;
    height: auto;
    padding: $padding1;
    margin: $margin1;
}

.formText{// 40% van 314 = -125.6 = 188.4 over
    width: 100vw;
    color: $green;
}

input[type="text"], input[type="date"], input[type=submit]{ //60% van 188.4 = -75.36 = 113,04px over
    width:60%;
}

input[type="date"]{
    color: $green;
}

.titels .formText{
    display: flex;
}

input[type="text"], [type="date"]{
    float: right;
}




input[type=submit] {margin: 3px;}

.form_groep {

    margin-top: $padding1;
}

#form_omschrijving {
    color: green;
}

#error_Form{
    background: red;
    color: #FFFFFF;
    width: 271px;
    margin: $margin1;
    padding: $padding2;
}

.is-invalid{
    border-color: red;
}

.error_bericht {
    display: inline-block;
    box-sizing: border-box;
    text-align: right;
    border-color: red;
    color: red;
    width: 100%;
}

